name: deploy.yml
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: deploy change in infrastructure
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using SSH key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd infra 
            git pull
            docker compose up --build -d
